<h1>Create an Account</h1>
<form action="/" method="POST">
  <p>
    <label for="username">Username:</label>
    <input id="username" name="username" type="textbox" />
  </p>
  <p>
    <label for="password">Password:</label>
    <input id="password" name="password" type="password" />
  </p>
  <input type="submit" />
</form>
