<h1>Pokedex for <%= @user.username %></h1>
<ol>
  <% @user.pokemon.each do |pokemon| %>
    <li><a href="/pokemon/<%= pokemon.id %>"><%= pokemon.name %></a></li>
  <% end %>
</ol>
<a href="/pokemon">Back to Index</a>
<a href="/logout">Log Out</a>
