<h1>Welcome to the Pokedex!</h1>
<h2>Here's a list of Pokemon encountered in the wild.</h2>
<ol>
  <% @pokemon.each do |pokemon| %>
    <li><a href="/pokemon/<%= pokemon.id %>"><%= pokemon.name %></a></li>
  <% end %>
</ol>
<a href="/pokemon/new">Add Pokemon</a>
<a href="/logout">Logout</a>
