<h1>Welcome to the Pokedex!</h1>
<h2>Here's a list of Pokemon encountered in the wild.</h2>
<!-- need to loop through all pokemon and display them in a list -->
<ol>
  <!-- clicking the name of a Pokemon takes you to pokemon/show -->
  <a href="#"><li>A Pokemon</li></a>
  <li>A Pokemon</li>
  <li>A Pokemon</li>
  <li>A Pokemon</li>
</ol>
<!-- link to pokemon/new -->
<a>Add Pokemon to Pokedex</a>
<a>Logout</a>
