<h1>Here's a list of Pokemon encountered in the wild.</h1>
<ol>
  <% @pokemon.each do |pokemon| %>
    <li><a href="/pokemon/<%= pokemon.id %>"><%= pokemon.name %></a></li>
  <% end %>
</ol>
<a href="/pokemon/new">Add Pokemon</a>
<a href="/logout">Logout</a>
