<h1>Add Pokemon</h1>
<form action="/pokemon" method="POST">
    <label for="name">Name:</label>
    <input id="name" name="name" type="textbox" />

    <label for="type_name">Type:</label>
    <input id="type_name" name="type_name" type="textbox" />

    <label for="description">Short Description:</label>
    <input id="description" name="description" type="textbox" />
    
  <input type="submit" />
</form>
