<h1>Add Pokemon</h1>
<form action="/pokemon" method="POST">
  <div class="form-group">
    <label class="form-label" for="name">Name:</label>
    <input class="form-input" id="name" name="name" type="textbox" />
  </div>
  <div class="form-group">
    <label class="form-label" for="type_name">Type:</label>
    <input class="form-input" id="type_name" name="type_name" type="textbox" />
  </div>
  <div class="form-group">
    <label class="form-label" for="description">Short Description:</label>
    <input class="form-input" id="description" name="description" type="textbox" />
  </div>
  <button class="btn">Submit</button>
</form>
