<h1>Welcome to CRUD Pokedex</h1>
<p>Our mission is to inform the public about the amazing world of Pokemon! Contribute to the Pokedex by adding details about the Pokemon you encounter in the wild. Please remember to handle all Pokemon with care.</p>
<p>Visit your local Pokemon Center for more information on safety and to stock up on gear.</p>
