<!doctype html>
<html>
  <head>
    <title>CRUD Pokedex</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  </head>
  <body>
    <% if flash[:error] %>
      <span><%= flash[:error] %></span>
    <% end %>
    <%= yield %>
  </body>
</html>
